.signin{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#btnl{
    height: 50px;
    width:270px;
    background-color: blue;
    color: aliceblue;
    border-radius:10px;
    margin:10px;
}

#btnr{
    height: 50px;
    width:200px;
    background-color: green;
    color: aliceblue;
    border-radius:10px;
    margin:10px;
}

.login_form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_form input{
    height:20px;
    width:250px;
    border-radius: 10px;
    padding: 10px;
    line-height: 1.5;
    display: block;
    margin:10px;
}

.app{
    color: #ff4500;
}