.signin{
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    margin-top: 150px;;
    margin-left:auto;
    margin-right: auto;
    z-index: 1;
    border-radius: 5px;
}

.signin h1{
    text-decoration: solid;
}

hr{
  border-style: inset;
  border-width: 1px;
  color: black;
}

#btnl{
    height: 50px;
    width:270px;
    background-image: linear-gradient(to right,skyblue, blue , purple);
    color: aliceblue;
    border-radius:20px;
    margin:20px;
}

.login_form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_form input{
    padding: 10px;
    line-height: 1.5;
    margin:10px;
}
.error-message{
    color: red;;
}

.app{
    color: #ff4500;
}